* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    background-color: rgb(30, 0, 63);
}

body {
    background-color: rgba(255, 255, 255, 0.124);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;

}

.home_logo {
    /* left: 4dvh; */
    cursor: pointer;
    margin-left: 18px;

}

.nav_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.navbar_text {
    color: white;
    font-size: 18px;
    /* font-style: normal; */
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.124);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

@media only screen and (max-width: 960px) {
    .alert {
        margin: 8px;
        padding: 8px;
    }
}

.notificatioon_link {
    color: white;
    /* font-size:medium; */
    font-weight: bold;
    margin: 10px;
}

/* Unique for pages start */

.event {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.event_banner {
    height: 40dvh;
    padding: 8px;
    border: none;
    border-radius: 20px;
}

.event_text {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.085);
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.event_name {
    margin-bottom: 4dvh;
    font-weight: bold;
    font-size: 6dvh;
}

.event_description {
    margin: 4dvh;
    font-size: 2dvh;
}

.btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_date {
    font-weight: bolder;
    display: inline;
    position: sticky;
}

.reg_btn {
    font-weight: bolder;
    /* display: flex; */
    display: inline;
    /* position: sticky; */
    padding: 10px;
    background-color: #ffffff36;
    border-radius: 10px;
    color: white;
}


/* Unique for pages end */

footer {
    list-style-type: none;
    margin: 20px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 10px;
    cursor: none;
}

.copy_text {
    display: flex;
    color: white;
    justify-content: right;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_items {
    font-size: 10px;
    margin-right: 28px;
    margin-left: 8px;
}

.github_icon {
    margin-right: 20px;
}







@media only screen and (max-width: 960px) {
    html {
        background-color: rgb(7, 78, 55);
    }

    body {
        background-color: rgba(255, 255, 255, 0.124);
        margin: 8px;
        padding: 8px;
        border-radius: 10px;
    }

    .nav_items {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 8px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 8px;
        padding: 4px;

    }

    .home_logo {
        cursor: pointer;
        height: 2dvh;
        margin-left: 8px;

    }

    .abacus_logo {
        cursor: pointer;
        height: 2dvh;
    }

    .nav_text {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 12px;
    }

    .navbar_text {
        color: white;
        font-size: 10px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }


    /* Unique for pages start */
    .event {
        margin: 8px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 10px;
        display: contents;
        align-items: center;
        justify-content: center;
    }

    .event_banner {
        height: 40dvw;
        padding: 8px;
        border: none;
        border-radius: 20px;
        display: block;
    }

    .event_text {
        margin: 8px;
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.085);
        border-radius: 10px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .event_name {
        margin-bottom: 2dvh;
        font-weight: bold;
        font-size: 4dvw;
    }

    .event_description {
        margin: 4dvw;
        font-size: 2dvw;
    }

    .event_date {
        font-weight: bolder;
        display: flex;
        position: sticky;
        font-size: 8px;
    }

    .event_section {
        margin-bottom: 30px;
    }

    /* Unique for pages end */


    footer {
        list-style-type: none;
        margin: 8px;
        padding: 6px;
        background-color: rgba(255, 255, 255, 0.097);
        border-radius: 10px;
        cursor: none;
    }

    .footer_items {
        font-size: 8px;
        margin-right: 8px;
        margin-left: 4px;
    }


}